<div *ngIf="!(sessionDay > 0)" class="container">
  <div class="row">
    <div class="col">
      <form>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Which day training?</label>
          <select class="form-control" (change)="setDay($event.target.value)">
            <option value="0">--Day--</option>
            <option *ngFor="let day of days" [ngValue]="day">{{ day }}</option>
          </select>
        </div>
      </form>
    </div>
  </div>
</div>

<app-attendee [sessionDay]="sessionDay"></app-attendee>
