<div class="container">
  <div class="row">
    <div class="col">
      <br />
      <h1 class="text-center">
        Angular Training<span class="badge badge-secondary">Day 2</span>
      </h1>
      <br />
      <div class="table-responsive">
        <table class="table table-bordered text-center align-middle">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">NAME</th>
              <th scope="col">IN</th>
              <th scope="col">ASSIGNMENT</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let attendee of attendees; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td class="text-left">
                {{ attendee }}
              </td>
              <th>
                <div>
                  <label class="form-check-label">
                    <input
                      type="checkbox"
                      name="isIn"
                      id="isIn"
                      value="checkedValue"
                    />
                  </label>
                </div>
              </th>
              <th>
                <div>
                  <label class="form-check-label">
                    <input
                      type="checkbox"
                      name="isIn"
                      id="isIn"
                      value="checkedValue"
                    />
                  </label>
                </div>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
